<!DOCTYPE html>
<html lang="en">

<head>
    <title>StoryPots</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        StoryPots
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                  Everybody has a story to tell, and if you have a story to share too, you have landed on the correct page.
                  </blockquote>

                  <blockquote class="mainLines">
                    Right now when you are reading this someone is going to be operated in ICU.
                    A mother is going to give birth to a pre-mature baby, a husband is going to see his wife for last time.
                    A player is going to hit a home run. A student is going to fail in exams.<br/><br/> Every second creates a story
                    and we share the best stories with you.<br/> Read the stories <a href="/stories">here</a> or <a href="/new-story">write your own story</a>
                  </blockquote>

                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
